
<!doctype html>
<html lang="en">
  <head>
    <style>
    .body{
    padding: 20px;
}  
      
    </style>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    
    <!--<courses></courses>-->
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">{{title|lowercase}}</h1>{{courseobj.title|uppercase}}
            <p class="lead">{{courseobj.title}}<br/>{{courseobj.rating|number}}<br/>{{courseobj.price|currency}}<br/>{{courseobj.releaseDate|date :'shortDate' }}</p>
            <button class="btn-primary" (click)="onSave()">Save</button>
        </div>
    </div>
   
    <h1>Using input properties</h1>
    <favourite [is-favourite]="post.isFavourite" (change)="onChangeFavourite()"></favourite>
    <!-- Optional JavaScript -->
    <h1>ngFor</h1>
    <div class="container">
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item" [class.active]="viewmode== 'map'">
          <a class="nav-link" [class.active]="viewmode== 'map'" (click)="viewmode ='map' " >Map view</a>
        </li>
        <li class="nav-item" [class.active]="viewmode== 'list'">
          <a class="nav-link" [class.active]="viewmode== 'list'" (click)="viewmode ='list' "  >List view</a>
        </li>
      </ul>
      <div [ngSwitch]="viewmode">
        <div *ngSwitchCase="'map'">Map view content</div>
        <div *ngSwitchCase="'list'">List view content</div>
        <div *ngSwitchDefault> Default view content</div>
      </div>
    </div>
    <br/>
    <br/>
    <h1>ngFor</h1>
    <ul>
      <li *ngFor="let c of courselist">
       course id : {{c.id}} course name :{{c.name}}
      </li>
    </ul>
    
    <br/>
    <br/>
    <h1>Custom directive to change the case of a input field on blur event</h1>
    <div class="container">
      <input type="text" [appInputFormat]="'lowercase'">
    </div>
    <br/>
    <br/>
    <h1>Sample template driven forms section starts from here</h1>
    <br/>
    <contact-form></contact-form>
    <br><br>
    <h1>Sample Reactive driven forms section starts from here</h1>
    <br/>
    <signup-form></signup-form>
    
    <br><br>
    <h1>Http service consuming section starts from here</h1>
    <br/>
    <post-component></post-component>  

   
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>